<a href="https://colab.research.google.com/github/mowhamadrexa/EECS3481Assignments/blob/main/Q3_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### key = "**royal new zealand navy**" becomes "**ROYALNEWZDV**" by deleting repetitive alphabets

In [ ]:
#remove space in k
key = k.replace(' ','').lower()
key

'royalnewzealandnavy'

In [16]:
pad = """ROYAL
NEWZD
VBCFG
HIKMP
QSTUX"""
import pandas as pd
# circle = pd.DataFrame()
circle = []
for row in pad.split('\n'):
  circle.append(list(row))

circle = pd.DataFrame(circle,)
circle.index += 1
circle.columns += 1
circle

   1  2  3  4  5
1  R  O  Y  A  L
2  N  E  W  Z  D
3  V  B  C  F  G
4  H  I  K  M  P
5  Q  S  T  U  X

In [30]:
cipher = "KXJEYUREBEZWEHEWRYTUHEYFSKREHEGOYFIWTTTUOLKSYCAJPOBOTEIZONTXBYBNTGONEYCUZWRGDSONSXBOUYWRHEBAAHYUSEDQ"

### We decipher it using the these rules: (Taken from WIKIpedia)

1. If both letters are the same (or only one letter is left), add an "X" after the first letter. Encrypt the new pair and continue. Some variants of Playfair use "Q" instead of "X", but any letter, itself uncommon as a repeated pair, will do.
2. If the letters appear on the same row of your table, replace them with the letters to their immediate right respectively (wrapping around to the left side of the row if a letter in the original pair was on the right side of the row).
3. If the letters appear on the same column of your table, replace them with the letters immediately below respectively (wrapping around to the top side of the column if a letter in the original pair was on the bottom side of the column).
4. If the letters are not on the same row or column, replace them with the letters on the same row respectively but at the other pair of corners of the rectangle defined by the original pair. The order is important â€“ the first letter of the encrypted pair is the one that lies on the same row as the first letter of the plaintext pair.


To **decrypt**, use the inverse (opposite) of the last 3 rules, and the first as-is (dropping any extra "X"s or "Q"s that do not make sense in the final message when finished).

source: https://en.wikipedia.org/wiki/Playfair_cipher

In [ ]:
decipher = "PTBOATONEOWENINELOSTINACTIONINBLACKETTSTRAITTWOMILESSWMERESUCOVEXCREWOFTWELVEXREQUESTANYINFORMATIONX"

### Now it is time to identify each word

In [31]:
decipher = "PT BOAT ONE OWE NINE LOST IN ACTION IN BLACKETT STRAIT TWO MILES SW MERESU COVE X CREW OF TWELVE X REQUEST ANY INFORMATION X"
decipher

'PT BOAT ONE OWE NINE LOST IN ACTION IN BLACKE II STRAIT TWO MILES SW MERESU COVE X CREW OF TWELVE X REQUEST ANY INFORMATION X'

And finally delete the 'X' at the end

In [32]:
decipher = "PT BOAT ONE OWE NINE LOST IN ACTION IN BLACKETT STRAIT TWO MILES SW MERESU COVE X CREW OF TWELVE X REQUEST ANY INFORMATION"
decipher

'PT BOAT ONE OWE NINE LOST IN ACTION IN BLACKETT STRAIT TWO MILES SW MERESU COVE X CREW OF TWELVE X REQUEST ANY INFORMATION'